@charset "UTF-8";

#main2{
	width: 700px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 100px 100px 0 100px;
	display: block;
	clear: both;
}

.a{
	width: auto;
	height: auto;
	display: block;
	margin-top: 20px;
}

#main2 label{
	font-size: 20px;
}

.input1{
	margin-left: 92px;
	width: 250px;
	height: 30px;
	display: black;
}

.input2{
	margin-left: 50px;
	width: 250px;
	height: 30px;
	display: black;
}

.b{
	width: auto;
	height: auto;
	display: block;
	margin-top: 40px;
	padding-left: 70px;
}

.input3{
	margin-right: 5px;
	height: 30px;
}

.node-search{
	display: block;
}

.c{
	font-size: 40px;
	clear: both;
	display: block;
	margin-top: 30px;
}

.table-add{
	width: 700px;
	height: auto;
}

.table-add th{
	width: 20%;
}

.table-add td{
	text-align: right;
}

.table-add-input input{
	width: 128px;
	display: inline-block;
}

.add{
	float: right;
	margin-top: 20px;
	width: 135px;
	height: 25px;
}

.updown{
	float: left; 
	margin-left: 12px;
	padding-left: 7px;
}