@charset "UTF-8";

html{
	height: 100%;
	font-size: 12px;
	box-sizing: border-box;
}

h5, div{
	display: inline-block;
	margin: 0;
	padding: 0;
}

table{
	border-spacing: 0px 1px;
	border-top: 2px solid #555555;
	border-bottom: 1px solid #E4E4E4;
}

th{
	font-weight: normal;
	text-align: center;
}

tr{
	height: 28px;
}

#main{
	display: block;
	width: 1150px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.updown{
	float: left; 
	margin-left: 12px;
	padding-left: 7px;
}

.bullet01{
	float: left;
	display: block;
	padding-bottom: 2px;
}


.bullet02{
	float: left;
	margin-right: 1px;
	display: inline-block;
	vertical-align: -5px;
}


.left-div{
	width: 755px;
	height: auto;
	float: left;
}

.left-div-1{
	height: 50%;
}

.left-div-1-topmenu{
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height: auto;
	margin-top: 5px;
	margin-bottom: 2px;
	margin-left: 0.1em; 
}

.left-div button{
	border: none;
	width: auto;
	min-width : 53px;
	height: 32px;
	margin-right: 3px;
	background-color:  #F3F3F3;
	display: inline-block;
	float: left;
	padding: 1px 3px;
}

.left-div-1 button:nth-child(6){
	color: white;
	background-color: #5E5E5E;
}

.left-div-1-menubar{
	background-color: #FAFAFA;
	font-size: 12px;
	padding: 5px 6px 0 10px;
	width: 100%;
	max-width: 755px;
	height: 40px;
	border: 1px solid #E4E4E4;
	margin-bottom: 5px;
	box-sizing: border-box;
}

.left-div-1-menubar h5{
	font-size: 13px;
	display: inline;
	width: 45px;
	vertical-align: -5px;
}

_:-ms-fullscreen, :root h5{
	vertical-align: -9px;
}

.radio-group{
	display: inline;
	width: 500px;
	height: auto;
	vertical-align: -5px;
}

_:-ms-fullscreen, :root .radio-group{
	vertical-align: -9px;
}

.radio-group input[type="radio"]{
	margin-top: -1px;
	vertical-align: -1px;
}

.menubar-btn{
	width: 40px;
	height: 27px;
	background-color: #4C4C4C;
	float: right;
	color: #F6F6F6;
	text-align: center;
	border: 1px solid #E4E4E4;
}

.search-image{
	background-image: url("돋보기_흰색.png");
	width: 27px;
	height: 27px;
	vertical-align: top;
	border: 1px solid #E4E4E4; 
}

_:-ms-fullscreen, :root .menubar-btn{
	text-align: left;
}

.left-div-1-tgroup{
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin-bottom: 2.5px;
}

.left-table-1{
	float: left;
	width: 372.5px;
	box-sizing: border-box;
	margin-top: 2px;
}

.left-table-1 td:nth-child(1){
	width: 40%;
	text-align: left;
}

.left-table-1 td:nth-child(n+2){
	text-align: right;
}

.left-table-1 td:nth-child(4){
	width: 20%;
}

.left-table-1 tbody tr:nth-child(odd){
	background-color: #F3F3F3;
}

.left-table-1 tbody tr:nth-child(5){
	background-color: #FCF3D0;
}

.left-table-2{
	float: left;
	width: 372.5px;
	box-sizing: border-box;
	margin-top: 2px;
	margin-left: 10px;
}

.left-table-2 tbody tr:nth-child(odd){
	background-color: #F3F3F3;
}

.left-table-2 td:nth-child(n+2){
	text-align: right;
}

.left-btngroup{
	width: 100%;
	height: auto;
	text-align: right;
}

.left-btn1{
	height: 28px;
	background-color: white;
	border: 1px solid #E4E4E4;
}

.left-btn2{
	height: 28px;
	margin-left: 3px;
	background-color: white;
	border: 1px solid #E4E4E4;
}

.left-div-2 button:nth-child(5){
	color: white;
	background-color: #5E5E5E;
}


.left-div-2{
	margin-top: 10px;
	height: 50%;
}

.left-div-2-menubar{
	background-color: #FAFAFA;
	font-size: 12px;
	padding: 5px 6px 0 10px;
	width: 100%;
	max-width: 755px;
	height: 40px;
	border: 1px solid #E4E4E4;
	margin-bottom: 5px;
	box-sizing: border-box;
}

.search{
	float: left;
}

.search-select{
	width: 100px;
	height: 27px;
	vertical-align: 10px;
	border: 1px solid #E4E4E4;
} 

.search-result{
	width: 78px;
	height: 25px;
	vertical-align: 8.5px;
	background-color: #E6E6E6;
	border: none;
	padding-left: 5px;
}

.text{
	padding-top: 4px;
	margin-left: 200px;
}

_:-ms-fullscreen, :root .text{
	padding-top: 8px;
	margin-left: 210px;
}

.search-btn1{
	width: 40px;
	height: 27px;
	background-color: white;
	vertical-align: -1px;
	border: 1px solid #E4E4E4;
}

.search-btn2{
	width: 40px;
	height: 27px;
	background-color: #4C4C4C;
	float: right;
	color: #F6F6F6;
	border: 1px solid #E4E4E4;
	text-align: center;
}

_:-ms-fullscreen, :root .search-btn2{
	text-align: left;
}


.left-div-2-tgroup1{
	width: 100%;
	height: auto;
	margin-bottom: 2.5px;
}

.left-div-2-table1{
	width: 100%;
	float: left;
	box-sizing: border-box;
	margin-top: 2px;
}

.left-div-2-table1 td{
	text-align: right;
	width: 11%;
}

.left-div-2-table1 td:nth-child(1){
	text-align: center;
}

.left-div-2-table1 tbody tr:nth-child(odd){
	background-color: #F3F3F3;
}

.left-div-2-tgroup2{
	width: 100%;
	height: 210.66px;
	margin-top: 7px;
}

.left-div-2-table2{
	float: left;
	width: 50%;
	box-sizing: border-box;
	margin-top: 4px;
	border-spacing: 0px 1.25px;
}

.left-div-2-table2 td{
	text-align: right;
}

.left-div-2-table2 thead tr th:nth-child(-n+2){
	background-color: #E7F4FC;
}

.left-div-2-table2 thead tr th:nth-child(n+3){
	background-color: #FFF4F3;
}

.left-div-2-table2 tbody tr:nth-child(-n+5) th{
	background-color: #E7F4FC;
}

.left-div-2-table2 tbody tr:nth-child(-n+5) th:nth-child(3){
	background-color: #FFF4F3;
}

.left-div-2-table2 tr:nth-last-child(1){
	background-color: #FFFBF3;
}

.left-div-2-tgroup2-1{
	width: 50%;
	height: auto;
}

.left-div-2-tgroup2-1 p{
	text-align : center;
	display: block;
	width: 97%;
	float: right;
	height: 22px;
	font-size: 12px;
	font-weight:: normal;
	margin: 4px 0 3px 0;
	padding: 3px 0 0 0;
	background-color: #F3F3F3;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}

.left-div-2-table3{
	float: right;
	width: 97%;
	height: 100%;
	box-sizing: border-box;
	margin-top: 1px;
}

.left-div-2-table3 tbody tr:nth-child(odd){
	background-color: #F3F3F3;
}

.left-div-2-table3 td{
	width: 25%;
	text-align: right;
}

.right-div{
	width: 380px; 
	height: auto;
	margin-left: 15px;
	float: left;
}

.right-div-1{
	height: 50%;
}


.right-div-1-topmenu{
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height: auto;
	margin-top: 5px;
	margin-bottom: 2px;
	margin-left: 0.1em; 
}

.right-div button{
	border: none;
	width: auto;
	min-width : 53px;
	height: 32px;
	margin-right: 3px;
	background-color:  #F3F3F3;
	display: inline-block;
	float: left;
	padding: 1px 3px;
}

.right-div-1 button:nth-child(1){
	color: white;
	background-color: #5E5E5E;
}

.right-div-1 button:nth-child(2){
	width: auto;
}

.search2{
	width: 100%;
}

.search-btn3{
	width: auto;
	height: 28px;
	background-color: white;
	vertical-align: top;
	float: right;
	border: 1px solid #E4E4E4;
}

.right-div-1-tgroup1{
	width: 100%;
	height: auto;
}

.right-div-1-table1{
	float: right;
	width: 100%;
	box-sizing: border-box;
	margin-top: 2px;
	text-align: right;
}

.right-div-1-table1 tr{
	background-color: #F3F3F3;
}

.right-div-1-table1 td{
	padding: 0px 15px 0px 6px;
}



.right-div-1-tgroup2{
	width: 100%;
	height: auto;
}


.right-div-1-table2{
	float: right;
	width: 380px;
	box-sizing: border-box;
	margin-top: 2px;
	text-align: right;
	border-spacing: 0px 1px;
}

.head th{
	height: 27.2px;
	border-bottom: 2px solid #D1D1D1;
}

.right-div-1-table2 tr{
	height: 27.1px;
}

.right-div-1-table2 tbody tr:nth-child(-n+5) td:nth-child(-n+3){
	background-color: #E7F4FC;
}

.right-div-1-table2 td:nth-child(3){
	width: 80%;
}

.right-div-1-table2 tbody tr:nth-child(n+7):nth-child(-n+10) td:nth-child(n+1){
	background-color: #FFF4F3;
}

.right-div-1-table2 tbody tr:nth-child(n+11) td:nth-child(-n+2){
	background-color: #DDF0FB;
}

.right-div-1-table2 tbody tr:nth-last-child(-n+2) td:nth-child(n+4){
	background-color: #FFECEA;
}

.right-div-1-table2 tr:nth-child(6) td:nth-child(2){
	background-color: red;
	color: white;
}

.right-div-1-table2 tbody tr:nth-child(6) td:nth-child(n+3){
	background-color: #FFF4F3;
}

.right-div-1-table2 tbody tr:nth-last-child(-n+2) th{
	background-color: #FFFBF3;
}

#right-table-2-1{
	border-top: 3px solid #EAEAEA;
	border-bottom: 0px;
	display: inline-block;
	width: 143.13px;
	float: left;
	text-align: right;
	border-collapse: collapse;
	margin-left: 3px;
	margin-bottom: 55px;
}

#right-table-2-1 tr{
	border-bottom: 1px solid #EAEAEA;
	height: 26px;
}

#right-table-2-1 td{
	width: 150px;
	background-color: #ffffff;
}

#right-table-2-1 td:nth-child(2){
	width: 70%;
}

_:-ms-fullscreen, :root #right-table-2-1 td:nth-child(2){
	width: 65%;
}

#right-table-2-2{
	border-top: 3px solid #EAEAEA;
	border-bottom: 0px;
	display: inline-block;
	width: 143.13px;
	float: left;
	text-align: right;
	border-collapse: collapse;
}

#right-table-2-2 tr{
	border-bottom: 1px solid #EAEAEA;
	height: 26px;
}

#right-table-2-2 td{
	color: black;
	width: 150px;
	background-color: #ffffff;
}

#right-table-2-2 td:nth-child(2){
	width: 78%;
}

.right-div-2{
	margin-top: 11px;
	height: 50%;
}

.right-div-2-topmenu{
	width: 100%;
	height: auto;
	margin-bottom: 0px;
	display: inline;
}

.right-div-2-topmenu button:nth-child(1) {
	background-color: red;
	color: white;
}

.orderform-div{
	width: 100%;
	height: auto;
}

.orderform{
	width: 365px;
	height: 350px;
	border-top: 3px solid #555555;
	background-color: #FFF4F3;
	padding: 10px 5px 0px 15px;
}

.orderform div{
	margin-top: 5px;
}

.orderform label{
	margin-right: 25px;
	display: inline-block;
}

.orderform .search{
	width: 78px;
	height: 24.03px;
	vertical-align: 0px;
	background-color: #E6E6E6;
	border: none;
	padding-left: 3px;
	float: right;
}

.orderform .account{
	height: 27px;
	margin-right: 5px;
	border: 1px solid #E4E4E4;
}

.orderform .password{
	width: 150px;
	height: 21.03px;
	display: inline-block;
	border: 1px solid #E4E4E4;
	margin: 0px 0px 0px 0px;
}

.orderform .search-image{
	margin-right: 5px;
}

.orderform .number{
	width: 100px;
	height: 27px;
	vertical-align: 0.5px;
	margin-left: 4px;
	-webkit-appearance:none;
  -moz-appearance:none;
   -o-appearance:none;
   appearance:none; 
   border:1px solid #E4E4E4;
   background-color: white;
}

.orderform .number::-ms-expand{
  display:none;
}

.minus{
	background-color: white; 
	width: 23.78px; 
	height: 23.78px; 
	display: inline-block; 
	border-bottom: 1px solid #E4E4E4;
	border-top: 1px solid #E4E4E4;
	border-left: 1px solid #E4E4E4;
	vertical-align: 3px;
	margin-left: 3.5px;
}

_:-ms-fullscreen, :root .minus{
	vertical-align: 5px;
}

_:-ms-fullscreen, :root .minus-3px{
	vertical-align: 5px;
}

.minus-img{
	margin: 0px 0px 0px 7.5px;
	vertical-align: 1px;
}

_:-ms-fullscreen, :root .minus-img{
	vertical-align: -1px;
}

.plus{
	border-color: #E4E4E4;
	background-color: white; 
	width: 23.78px; 
	height: 23.78px; 
	display: inline-block; 
	border-bottom: 1px solid #E4E4E4;
	border-top: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
	vertical-align: 3px;
}
_:-ms-fullscreen, :root .plus{
	vertical-align: 5px;
}

.plus-img{
	margin: 0px 0px 0px 7px;
	vertical-align: -3px;
}

_:-ms-fullscreen, :root .plus-img{
	vertical-align: -5px;
}

.count-btn1{
	width: 30px;
	height: 25.99px;
	background-color: white;
	vertical-align: -2px;
	border: 1px solid #E4E4E4;
	margin-left: 3px;
}

.count-btn2{
	border: 1px solid #E4E4E4;
	width: 42px;
	height: 25.99px;
	background-color: white;
	vertical-align: -2px;
	margin-left: 3px;
}

.count{
	width: 100px;
	height: 21.80px;
	background-color: white;
	vertical-align: top;
	margin-left: 1px;
	border: 1px solid #E4E4E4;
	text-align: right;
}
.orderform .ordernumber1{
	width: 145px;
	height: 26.03px;
	vertical-align: 7.5px;
	background-color: #E6E6E6;
	border: none;
	padding-left: 3px;
	margin-left: 51px;
}

.orderform .ordernumber2{
	width: 145px;
	height: 26.03px;
	vertical-align: 1px;
	background-color: #E6E6E6;
	border: none;
	padding-left: 3px;
	margin-left: 3px;
}

.orderform-btn1{
	width: 90px;
	height: 31px;
	background-color: white;
	float: left;
	margin-left: 180px;
	border: 1px solid #E4E4E4;
}

.orderform-btn2{
	width: 90px;
	height: 31px;
	color: white;
	background-color: red;
	margin-left: 3px;
	float: left;
	border: 1px solid #E4E4E4;
}

.left-table-1 tbody td:nth-child(n+2){
	color: blue;
}

.left-table-1 tbody tr:nth-child(1) td:nth-child(n+2){
	color: red;
}

.left-table-1 tbody tr:nth-child(2) td:nth-child(n+2){
	color: red;
}

.left-table-1 tbody tr:nth-child(10) td:nth-child(n+2){
	color: red;
}

.left-table-2 tbody td:nth-child(n+2):nth-child(-n+4) {
	color: red;
}

.left-div-2-table1 tbody td:nth-child(n+2){
	color: red;
}

.left-div-2-table1 tbody tr:nth-child(1) td:nth-child(6){
	color: blue;
}

.left-div-2-table1 tbody tr:nth-child(2) td:nth-child(n+5):nth-child(-n+6) {
	color: blue;
}

.left-div-2-table1 tbody tr:nth-child(2) td:nth-child(n+8):nth-child(-n+9) {
	color: blue;
}

.left-div-2-table1 tbody tr:nth-child(3) td:nth-child(n+2):nth-child(-n+5) {
	color: blue;
}

.left-div-2-table1 tbody tr:nth-child(3) td:nth-child(n+8):nth-child(-n+9) {
	color: blue;
}

.left-div-2-table1 tbody tr:nth-child(4) td:nth-child(n+2):nth-child(-n+5) {
	color: blue;
}

.left-div-2-table1 tbody tr:nth-child(4) td:nth-child(8){
	color: blue;
}

.left-div-2-table1 tbody tr:nth-child(5) td:nth-child(n+4):nth-child(-n+5) {
	color: blue;
}

.left-div-2-table1 tbody tr:nth-child(5) td:nth-child(8){
	color: blue;
}

.left-div-2-table2 tbody tr:nth-child(1) th:nth-child(1){
	color: blue;
}

.left-div-2-table2 tbody tr:nth-child(3) th:nth-child(1){
	color: blue;
}

.left-div-2-table2 tbody tr:nth-child(odd) th:nth-child(3){
	color: red;
}

.left-div-2-table2 tbody tr:nth-last-child(1) td:nth-child(2){
	color: blue;
}

.left-div-2-table2 tbody tr:nth-last-child(1) td:nth-child(4){
	color: red;
}

.left-div-2-table3 tbody tr:nth-child(odd) td:nth-child(4){
	color: blue;
}

.left-div-2-table3 tbody tr:nth-child(even) td:nth-child(4){
	color: red;
}

.right-div-1-table1 td:nth-child(n+2):nth-child(-n+4){
	color: red;
}

.right-div-1-table2 tbody tr:nth-child(-n+5) td:nth-child(3) {
	color: red;
}

.right-div-1-table2 tbody tr:nth-child(n+6) td:nth-child(1) {
	color: red;
}

.right-div-1-table2 tbody tr:nth-child(11) th:nth-child(3){
	color: red;
}

#right-table-2-1 tbody tr:nth-child(1) td:nth-child(2){
	 color: red;
}

#right-table-2-1 tbody tr:nth-child(2) td:nth-child(2){
	 color: blue;
}

#right-table-2-2 tbody tr:nth-child(-n+3) td:nth-child(2){
	 color: red;
}






